html {
    scroll-behavior: smooth;
}

body {
    font-family: "Calibri";
    margin: 0;
}

.header-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.header-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.navigation-bar {
    position: absolute;
    display: flex;
    padding: 16px;
    justify-content: space-between;
    top: 0;
    left: 0;
    right: 0;
}

.header-nav a {
    color: white;
    margin-left: 6px;
    margin-right: 6px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: all 225ms ease-in-out;
}

.header-nav a:hover {
    border-bottom: 4px solid white;
    transition: all 225ms ease-in-out;
}

.header-nav {
    display: flex;
    align-items: center;
    color: white;
}

.header-logo {
    width: 170px;
}

.apply-btn {
    background-color: rgb(250, 187, 120);
    padding: 12px;
    border-radius: 10px;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

.apply-btn:hover {
    background-color: rgb(247, 165, 77);
}

.profile-picture {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 100%;
    margin-right: 16px;
    margin-left: 16px;
}

.founders {
    display: flex;
    justify-content: center;
    padding: 32px;
}

.headline-section {
    display: flex;
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: #777777;
}

.founder-box {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 220px;
}

.bg1 {
    background-color: #f9f9f9;
}

.bg2 {
    background-color: #f1f1f1;
}

.bg-turquoise {
    background-color: turquoise;
}

.bg-blue {
    background-color: lightblue;
}

.bg-green {
    background-color: cadetblue;
}

.explain-picture {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
    margin-left: 32px;
    margin-right: 32px;
}

.explain-section {
    padding: 16px;
    display: flex;
    justify-content: center;
}

.explain-container-elem {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*
.footer {
    min-height: 400px;
    background-color: #545454;
    display: flex;
    justify-content: space-between;
}
*/

.footer-row {
    background-color: #545454;
    display: flex;
    justify-content: space-between;
    color: white;
    padding-left: 32px;
    padding-right: 32px;
}

.footer-container {
    color: white;
    padding: 16px;
    display: flex;
    align-items: center;
}

.footer-container img {
    object-fit: contain;
}

.footer-container a {
    color: white;
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: underline;
}

.footer-links {
    display: flex;
}

.social-media-icon {
    width: 32px;
    margin-left: 4px;
    margin-left: 4px;
    height: 32px;
}

.read-more {
    position: absolute;
    bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.read-more img {
    width: 45px;
    object-fit: contain;
}

.apply-btn-margin {
    margin-top: 100px;
}

.apply-section {
    min-height: 300px;
    padding: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.apply-btn-margin {
    margin-top: 32px;
    margin-bottom: 16px;
}

@media(max-width: 1000px) {}

h1 {
    font: size 1em !important;
    text-align: center;
}

body {
    font-size: 1em;
}

p {
    margin-left: 32px;
    margin-right: 32px;
    text-align: center;
}

.hide-mobile {
    display: none;
}

.footer-container {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;
}

.footer-row {
    flex-direction: column-reverse;
    align-items: center;
}

.explain-section {
    flex-direction: column;
}

.founders {
    flex-direction: column;
}

.founder-box {
    margin-bottom: 120px;
    max-width: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founder-box div,
h3 {
    min-width: 300px;
}

.profile-picture {
    width: 300px;
    height: 300px;
}

.explain-picture {
    width: 300px;
    height: 300px;
}

.header-logo {
    width: 200px;
}

.apply-btn {
    font-size: 1.5em;
    padding: 25px;
}

.read-more img {
    width: 100px;
    margin: 32px;
}

.apply-btn-margin {
    margin-top: 100px;
    margin-bottom: 100px;
}

.social-media-icon {
    margin-right: 5px;
    margin-left: 5px;
    width: 50px;
    height: 50px;
}

.explain-container-elem {
    margin-bottom: 40px;
}

.explain-container-elem h3 {
    min-width: 500px;
}